body {
    font-family: sans-serif;
    margin: 0;
}

header {
    font-size: 0.8em;
}

header,
footer {
    background-color: #3c3c3c;
    color: white;
    text-align: center;
}
header{
    padding-top: 20px;
}
footer{
    padding: 20px 0;
}

header > *,
footer > * {
    margin: 0 auto !important;
}

main h1,main h2,main h3, p, #tabs, .content {
    margin: 20px auto;
    width: 80%;
}
@media screen and (max-width: 640px) {
    h1, h2, h3, p, #tabs, .content {
        margin: 20px auto;
        width: 95%;
    }
}
main h3{
    margin-bottom: -10px;
}

main h1 {
    font-size: 5em;
}
main h1>span{
    display: inline-block;
    text-align: right;
}

h2>img, h3>img{
    height: 30px;
    margin: -3px 0;
}

header h1 a:hover{
    text-decoration: none;
    opacity: 0.8;
}
header h1 img{
    height: 25px;
    margin: -4px 0;
}
#description {
    font-size: 15px;
    background-color: #777676;
}
#description p {
    padding: 5px 0;
}

section {
    padding: 20px;
}

section:nth-child(odd) {
    background-color: #fdfdfd;
}

section:nth-child(even) {
    background-color: #f0f0f0;
}

section:last-child {
    margin-bottom: 100px;
}

.centered {
    text-align: center;
}

.demi{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
@media screen and (max-width: 920px) {
    .demi{
        display: block;
        width: 100%;
    }
}

p {
    line-height: 22px;
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn, .alert {
    text-align: left;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #f0f0f0;
    cursor: pointer;
}

.btn:hover {
    text-decoration: none;
    border-color: #3c3c3c;
}

.btn:active {
    opacity: 0.5;
}
button {
    cursor: pointer;
    font-size: 15px;
}

.badge{
    background-color: #3c3c3c;
    color: white;
    border-radius: 3px;
    padding: 2px 4px;
    font-size: 15px;
}

.ui-tooltip {
    background-color: #f0f0f0;
    box-shadow: 0 0 0 black!important;
}

#notification{
    position: fixed;
    top: 0;
    right: 0;
    margin: 15px;
}
#notification:hover {
    border-color: #13bc3a;
}
#notification>.badge{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #13bc3a;
}

.stats {
    display: block;
    margin: auto;
    overflow: auto;
}

.stats tr{
    height: 22px;
}
.stats th {
    text-align: left;
}

.stats .bar {
    display: inline-block;
    background-color: #9d9d9d;
}

#progressbar {
    background-color: #f0f0f0;
    width: 80%;
    margin: auto;
    margin-top: 35px;
}

#progressbar > span {
    display: block;
    position: relative;
    height: 10px;
    background-color: #13bc3a;
}

#progressbar > span > span {
    position: absolute;
    top: -33px;
    right: 0;
    margin: 0 calc(-50% + 10px);
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

#progressbar > span > span::before {
    content: "";
    position: absolute;
    top: 100%;
    left: calc(50% - 6px);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-top: 6px solid #f0f0f0;
    border-right: 6px solid transparent;
}

#contrib{
    position: relative;
    height: 40px;
    border: 1px solid #3c3c3c;
    margin-bottom: 40px;
}
#contrib tr:first-child td:nth-child(even){
    background-color: #f0f0f0;
}
#contrib .true{
    background-color: #3c3c3c!important;
}
#contrib tr:last-child{
    position: absolute;
    right: 0;
    left: 0;
    bottom: -2px;
}
#contrib tr:last-child td{
    position: absolute;
}
#contrib tr:last-child td:last-child{
    right: 0;
}

#historique {
    border-collapse: collapse;
}
#historique thead{
    font-weight: bold;
    background: #f0f0f0;
    border-bottom: 3px solid black;
}
#historique td{
    padding: 5px;
    border: 1px solid black;
}

#graph{
    background-color: #f0f0f0;
}
#courbe circle{
    cursor:pointer;
}